<a href="https://colab.research.google.com/github/zhizhengwu/csc1001/blob/main/CSC1001_Week3_lecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3: Coding examples on flow control

## Conditional flow

In [13]:
# an example of conditional flow

height = float(input())

if height == 1.75:
  print(height == 1.75)

if height > 1.75:
  print("Height is: ", height, " Take a seat in the last 10 rows.")
elif height > 1.6:
  print("Height is: ", height, " Take a seat between row 3 and 10.")
else:
  print("Height is: ", height, " Take a seat in the first 2 rows.")

print("finished")

1.75
True
Height is:  1.75  Take a seat between row 3 and 10.
finished

## Bool

In [15]:

x = 0; y = 0.0; z = 0 + 0j
print(bool(x), bool(y), bool(z))

x = -1; y = 1; z = 0 + 1j
print(bool(x), bool(y), bool(z))

x = ""; y="0"
print(bool(x), bool(y))

x = []; y = [1]; z = [0]
print(bool(x), bool(y), bool(z))

False False False
True True True
False True
False True True

## Indentation

In [23]:
x = 5

if x == 5:
    print('x is ', x)

    print('this is test 1')
    # print('this is test 100')
    print('this is test 2')

x is  5
this is test 1
this is test 2

## Logical operators

In [34]:
print("not True: ", not True)
print("not False: ", not False)
print("False and True: ", False and True and True and True and True and True and True)
print("False or True: ", False or True or False or False or False or False or False)

not True:  False
not False:  True
False and True:  False
False or True:  True

In [31]:

x = int(input())

if x > 50:
  print("x is larger than 50")
elif x < 75:
  print("x is smaller than 75")
elif x < 25:
  print("x is smaller than 25")

#   if x < 75:
#     print("x is smaller than 75 but larger than 50")
#   else:
#     print("x is larger than 75")
# else:
#   print("x is smaller")

20
x is smaller than 75